:root{
    --blanco: #fff;
    --negro: #000;
    --negro-opaco: #262626;
    --gris: #777777;
    --verde: #71bd46;

}

.disabled{
    overflow: hidden;
}

body{
    font-family: 'PT Sans', sans-serif;
}

.header__logo a{
    text-decoration: none;
    color: var(--verde);
}

.header__logo, .home__h1{
    text-transform: uppercase;
    font-weight: 700;
}

.sticky{
    height: 12vh;
    background-color: var(--negro-opaco);
    
}

.icon{
    position: absolute;
    top: 25px;
    right: 30px;
    color: var(--blanco);
    font-size: 25px;
}

.nav__item{
    text-transform: uppercase;
}

.nav__link{
    color: var(--blanco);
}

.burger{
    transition: transform 0.6s ease-out;
}

.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: var(--blanco);
}

.hide{
    position: absolute;
    right: 50px;
    transform: translateX(80px) ;
}

.cancel-btn{
    display: none;
}

.home{
    background-image: url(../../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
}

.home__text-container{
    color: var(--blanco);
    text-align: center;
}

.home__h1{
    font-size: 70px;
    margin-bottom: 0;
}

.home__text-container p{
    font-size: 22px;
}

.about__h2::before{
    content: "";
    position: absolute;
    width: 250px;
    height: 3px;
    background-color: var(--verde);
    margin-top: 30px;
}

.about__p{
    color: var(--gris);
}

@media screen and (max-width:768px){
    .hide{
        right: 30px;
    }
}

@media screen and (max-width:1023px){
    .nav__list{
        position: fixed;
        left: 0;
        height: 100vh;
        top: 0;
        margin: 0;
        padding-top: 30px;
        background-color: var(--negro-opaco);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        min-width: 212px;
        width: 40%;
        transform: translateX(-110%);
        transition: transform 0.6s ease-in;
        
        
    }
    
    .nav-active{
        transform: translateX(0%);

        
    }

    .home__h1{
        font-size: 50px;
    }

    .home__text-container p{
        font-size: 18px;
    }

    .cancel-btn{
        display: block;
    }
    
}
